<?xml version="1.0" encoding="UTF-8"?>

<bean:beans xmlns:bean="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://www.springframework.org/schema/security"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd">
        
        
      <http auto-config="true">
        	<intercept-url pattern="/" access="permitAll"/>
        	<intercept-url pattern="/students" access="hasAnyAuthority('ADMIN')"/>
       </http>
        
        <authentication-manager>
        	<authentication-provider>
        		<password-encoder hash="bcrypt"/>
        		<user-service>
        			<user name="miguel" authorities="ADMIN" password="$2a$10$br285zcBWkWzay7AB9FVveywJxBWXyCmcYnAnYciSuuxiy/0PtNbG"/>
        		</user-service>
        	</authentication-provider>
        </authentication-manager>
 
 </bean:beans>